// START CONFIGURATION
section#conf.config-page
  .full-screen-conf
    // START STICKY NAVBAR
    .navbar.navbar-default.navbar-fixed-top.navbar-fixed
      .navbar-header
        a.navbar-brand(href='https://www.demisto.com')
          img(src='img/logo.png', alt='')
      ul.nav.navbar-nav.navbar-right.main-navbar
        li
          a(href='/#') Home
        li
          a(href='/faq') FAQ
        li.dropdown.dropdown-list
          a(href="#", data-toggle="dropdown", aria-expanded="true")
            span.navbar-name#realname
          ul.dropdown-menu.dropdown-menu-right
            li
              #userrealname
              #useremail
              #teamname
            li.divider
            li
              button.btn.btn-link(onclick='logout()', name='logout', type='button') LOGOUT




    // END STICKY NAVBAR

    .container
      .row
        .col-lg-8.col-lg-offset-1
          // INTRO MESSAGE
          .config-section
            h1.text-center DBot Configuration
            .ball-grid-pulse.center-block
              div
              div
              div
              div
              div
              div
              div
              div
              div
            #configdiv(style="display: none")
              h3 What communication do you want monitor?
              form(class="configform")
                .checkbox.config-entry
                  label
                    input#all(type='checkbox')
                    | Monitor ALL conversations
                #channelsmonitored
                  h3 Channels Monitored
                  p#channellist
                hr
                #accordion.panel-group(role="tablist", aria-multiselectable="true")
                  .panel.panel-default
                    #headingConf.panel-heading(role="tab")
                      h4.panel-title
                        a(role="button", data-toggle="collapse", data-parent="#accordion", href="#configpanel", aria-expanded="false", aria-controls="configpanel")
                          | Select Channels and Groups
                    #configpanel.panel-collapse.in.collapse(role="tabpanel", aria-labelledby="headingConf")
                      .panel-body
                        .form-group.config-entry
                          label(for='channels') Select "Slack channels" that DBot will monitor
                          select.form-control.chosen-select#channels(data-placeholder='Please choose channels to monitor', multiple)
                        .form-group.config-entry
                          label(for='groups') Select "Private groups" that DBot will monitor
                          select.form-control.chosen-select#groups(data-placeholder='Please choose groups to monitor', multiple)
                        .checkbox.config-entry
                          label
                            input#im(type='checkbox')
                            | Monitor IM conversations (includes slackbot)
                #accordion.panel-group(role="tablist", aria-multiselectable="true")
                  .panel.panel-default
                    #headingAdvConf.panel-heading(role="tab")
                      h4.panel-title
                        a.collapsed(role="button", data-toggle="collapse", data-parent="#accordion", href="#advconfig", aria-expanded="false", aria-controls="advconfig")
                          | Advanced Configuration
                    #advconfig.panel-collapse.collapse(role="tabpanel", aria-labelledby="headingAdvConf")
                      .panel-body
                        .form-group.config-entry
                          label(for='regexp') Regular expression to select both groups and channels that DBot will monitor (you can just ignore if you don't know what this means)
                          input.form-control#regexp(placeholder='Please enter regular expression')
                          #regexpChannels

// END CONFIGURATION
