// START CONFIGURATION
section#conf.config-page
  .full-screen-conf
    // START STICKY NAVBAR
    .navbar.navbar-default.navbar-fixed-top.navbar-fixed
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='http://www.demisto.com')
            img(src='img/logo.png', alt='')
        // MENU
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right.main-navbar
            li
              a(href='/#') Home
            li
              a(href='/faq') FAQ
            li.dropdown.dropdown-list
              a#namelink(href="#", data-toggle="dropdown", aria-expanded="true")
                span.navbar-name#realname
              ul.dropdown-menu.dropdown-menu-right
                li
                  #userrealname
                  #useremail
                  #teamname
                li.divider
                li
                  button.btn.btn-link(onclick='logout()', name='logout', type='button') LOGOUT
    
    // END STICKY NAVBAR

    .container
      .row
        // INTRO MESSAGE
        .config-section
          .col-lg-12
            h1.text-center Configure D<small>BOT</small>
            .ball-grid-pulse.center-block
              div
              div
              div
              div
              div
              div
              div
              div
              div
            #configdiv(style="display: none")
              hr
              h3
                b What communication do you want monitor?
              form.configform                
                .radio.config-entry
                  input#all(type='radio', name='conversation', value='all')
                  label(for='all') Monitor ALL conversations
                  input#selectconv(type='radio', name='conversation', value='select')
                  label(for='selectedconv') Selected Channels
              br
              .col-lg-9
                  #accordion.panel-group(role="tablist", aria-multiselectable="true")
                    .panel.panel-default
                      #headingConf.panel-heading(role="tab")
                        h4.panel-title
                          a(role="button", data-toggle="collapse", data-parent="#accordion", href="#configpanel", aria-expanded="false", aria-controls="configpanel")
                            | Select Channels and Groups
                      #configpanel.panel-collapse.in.collapse(role="tabpanel", aria-labelledby="headingConf")
                        .panel-body
                          .form-group.config-entry
                            label(for='channels') Select "Slack channels" that D<small>BOT</small> will monitor
                            select.form-control.chosen-select#channels(data-placeholder='Please choose channels to monitor', multiple)
                          .form-group.config-entry
                            label(for='groups') Select "Private groups" that D<small>BOT</small> will monitor
                            select.form-control.chosen-select#groups(data-placeholder='Please choose groups to monitor', multiple)
                          .checkbox.config-entry
                            label
                              input#im(type='checkbox')
                              | Monitor Direct Messages (includes slackbot)

                  #verboseaccordion.panel-group(role="tablist", aria-multiselectable="true")
                    .panel.panel-default
                      #verboseheadingConf.panel-heading(role="tab")
                        h4.panel-title
                          a(role="button", data-toggle="collapse", data-parent="#verboseaccordion", href="#verboseconfigpanel", aria-expanded="false", aria-controls="verboseconfigpanel")
                            | Advanced Configuration - for Security Analysts (Verbose Mode)
                      #verboseconfigpanel.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="verboseheadingConf")
                        .panel-body
                          | Verbose Mode alerts users on all results (including clean queries) and includes detailed messages for each check.
                          .form-group.config-entry
                            label(for='verbosechannels') Select "Slack channels" that D<small>BOT</small> will monitor (verbose mode)
                            select.form-control.chosen-select#verbosechannels(data-placeholder='Please choose channels to monitor', multiple)
                          .form-group.config-entry
                            label(for='verbosegroups') Select "Private groups" that D<small>BOT</small> will monitor (verbose mode)
                            select.form-control.chosen-select#verbosegroups(data-placeholder='Please choose groups to monitor', multiple)
                          .checkbox.config-entry
                            label
                              input#verboseim(type='checkbox')
                              | Monitor Direct Messages (verbose mode including slackbot)


                  .text-center
                    a#action.btn.btn-xlarge.btn-theme(href='/next')
                      strong Done
                  br
            .col-lg-3
              #channelsmonitored.channelsmonitored(style="display: none")
                h3.text-center
                  | Channels Monitored
                hr
                p#channellist
              br
              #verbosechannelsmonitored.channelsmonitored(style="display: none")
                h3.text-center
                  | Channels Monitored (Verbose Mode)
                hr
                p#verbosechannellist
  
  div.modal.fade(id="unauthmodal", aria-labelledby="unauthModalLabel")
    .modal-dialog
      .modal-content
        .modal-header
            button(type="button", class="close", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h4(id="unauthModalLabel", class="modal-title") User not logged in
        .modal-body
          p User not logged in. Redirecting to home page for authentication with Slack ... 


// END CONFIGURATION
