// START CONFIGURATION
section#conf.config-page
  .full-screen-conf
    // START STICKY NAVBAR
    .navbar.navbar-default.navbar-fixed-top.navbar-fixed
      .container
        .navbar-header
          a.navbar-brand(href='#')
            img(src='img/logo.png', alt='')
        button.pull-right.btn.btn-link(onclick='logout()', name='logout', type='button') logout
    // END STICKY NAVBAR


    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          // INTRO MESSAGE
          .config-section
            h1 Configure Alfred
            form(class="configform")
              .form-group.config-entry
                label(for='channels') Select "Slack channels" that Alfred will monitor
                select.form-control.chosen-select#channels(data-placeholder='Please chose channels to monitor', multiple)
              .form-group.config-entry
                label(for='groups') Select "Private groups" that Alfred will monitor
                select.form-control.chosen-select#groups(data-placeholder='Please chose groups to monitor', multiple)
              .form-group.config-entry
                label(for='regexp') Regular expression to select both groups and channels that Alfred will monitor (you can just ignore if you don't know what this means)
                input.form-control#regexp(placeholder='Please enter regular expression')
                #regexpChannels
              .checkbox.config-entry
                label
                  input#im(type='checkbox')
                  | Monitor IM conversations

// END CONFIGURATION
