// START CONFIGURATION
section#conf.config-page
  .full-screen-conf
    include _navbar
    .container
      .row
        // INTRO MESSAGE
        .config-section
          .col-lg-12
            h1.text-center Thanks for installing D<small>BOT</small>
            #configdiv
              hr
              h3 To configure D<small>BOT</small>, you can send direct messages to @dbot on Slack.
              | @dbot understands the following commands:
              ul
                li config - list the current channels @dbot is listening on
                li join all/#channel1,#channel2,... - @dbot will join all/specified public channels and start monitoring them
                li verbose on/off #channel1,#channel2,... - turn on verbose mode on the specified channels

  div.modal.fade(id="unauthmodal", aria-labelledby="unauthModalLabel")
    .modal-dialog
      .modal-content
        .modal-header
            button(type="button", class="close", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h4(id="unauthModalLabel", class="modal-title") User not logged in
        .modal-body
          p User not logged in. Redirecting to home page for authentication with Slack ...
