// START CONFIGURATION
section#conf.config-page
  .full-screen-conf
    include _navbar
    .container
      .row
        // INTRO MESSAGE
        .config-section
          .col-lg-12
            h1.text-center Thanks for installing D<small>BOT</small>
            #configdiv
              hr
              h3 To configure D<small>BOT</small>, you can send DIRECT MESSAGES to @dbot on Slack.
              | Choose “dbot” from the “DIRECT MESSAGES” menu.
              | @dbot understands the following commands:
              ul
                li config - list the current channels @dbot is listening on
                li join all/#channel1,#channel2,... - @dbot will join all/specified public channels and start monitoring them
                li verbose on/off #channel1,#channel2,... - turn on verbose mode on the specified channels
                li vt the-api-key-you-got-from-vt: add your own VirusTotal key to use. You can get a key at https://www.virustotal.com/en/documentation/public-api/
                li xfe the-api-key-you-got-from-xfe the-password-you-got: add your own IBM X-Force Exchange credentials to use. You can get credentials at https://exchange.xforce.ibmcloud.com/
              h4 Verbose mode is usually used by security professionals. When in verbose mode, @dbot will display reputation details about any URL, IP or file including clean ones.
              h4 It is important to specify your own keys to get reliable results as our public API keys are rate limited.

  div.modal.fade(id="unauthmodal", aria-labelledby="unauthModalLabel")
    .modal-dialog
      .modal-content
        .modal-header
            button(type="button", class="close", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h4(id="unauthModalLabel", class="modal-title") User not logged in
        .modal-body
          p User not logged in. Redirecting to home page for authentication with Slack ...
