// START CONFIGURATION
section#conf.config-page
  .full-screen-conf
    // START STICKY NAVBAR
    .navbar.navbar-default.navbar-fixed-top.navbar-fixed
      .navbar-header
        a.navbar-brand(href='https://www.demisto.com')
          img(src='img/logo.png', alt='')
      ul.nav.navbar-nav.navbar-right.main-navbar
        li
          a(href='/#') Home
        li
          a(href='/faq') FAQ
        li.dropdown.dropdown-list
          a(href="#", data-toggle="dropdown", aria-expanded="true")
            span.navbar-name#realname
          ul.dropdown-menu.dropdown-menu-right
            li
              #userrealname
              #useremail
              #teamname
            li.divider
            li
              button.btn.btn-link(onclick='logout()', name='logout', type='button') LOGOUT




    // END STICKY NAVBAR

    .container
      .row

        // INTRO MESSAGE
        .config-section
          .col-lg-12
            h1.text-center Configure DBot
            .ball-grid-pulse.center-block
              div
              div
              div
              div
              div
              div
              div
              div
              div
            #configdiv(style="display: none")
              hr
              h3
                b What communication do you want monitor?
              form(class="configform")
                .checkbox.config-entry
                  label
                    input#all(type='checkbox')
                    | Monitor ALL conversations
              .col-lg-9
                  #accordion.panel-group(role="tablist", aria-multiselectable="true")
                    .panel.panel-default
                      #headingConf.panel-heading(role="tab")
                        h4.panel-title
                          a(role="button", data-toggle="collapse", data-parent="#accordion", href="#configpanel", aria-expanded="false", aria-controls="configpanel")
                            | Select Channels and Groups
                      #configpanel.panel-collapse.in.collapse(role="tabpanel", aria-labelledby="headingConf")
                        .panel-body
                          .form-group.config-entry
                            label(for='channels') Select "Slack channels" that DBot will monitor
                            select.form-control.chosen-select#channels(data-placeholder='Please choose channels to monitor', multiple)
                          .form-group.config-entry
                            label(for='groups') Select "Private groups" that DBot will monitor
                            select.form-control.chosen-select#groups(data-placeholder='Please choose groups to monitor', multiple)
                          .checkbox.config-entry
                            label
                              input#im(type='checkbox')
                              | Monitor Direct Messages (includes slackbot)

                  #accordion.panel-group(role="tablist", aria-multiselectable="true")
                    .panel.panel-default
                      #verboseheadingConf.panel-heading(role="tab")
                        h4.panel-title
                          a(role="button", data-toggle="collapse", data-parent="#verboseaccordion", href="#verboseconfigpanel", aria-expanded="false", aria-controls="verboseconfigpanel")
                            | Advanced Configuration - for Security Analysts (Verbose Mode)
                      #verboseconfigpanel.panel-collapse.in.collapse(role="tabpanel", aria-labelledby="verboseheadingConf")
                        .panel-body
                          | Verbose Mode alerts users on all results (including clean queries) and includes detailed messages for each check.
                          .form-group.config-entry
                            label(for='channels') Select "Slack channels" that DBot will monitor (verbose mode)
                            select.form-control.chosen-select#verbosechannels(data-placeholder='Please choose channels to monitor', multiple)
                          .form-group.config-entry
                            label(for='groups') Select "Private groups" that DBot will monitor (verbose mode)
                            select.form-control.chosen-select#verbosegroups(data-placeholder='Please choose groups to monitor', multiple)
                          .checkbox.config-entry
                            label
                              input#verboseim(type='checkbox')
                              | Monitor Direct Messages (verbose mode including slackbot)


                  .text-center
                    a#action.btn.btn-xlarge.btn-theme(href='/next')
                      strong Done
                  br
            .col-lg-3
              #channelsmonitored
                h3
                  b Channels Currently Monitored:
                  p#channellist


// END CONFIGURATION
