// START PLAN TABLE
section#contact.contact
  .container
    // SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
      h2 Get in contact with Us
      .text-center
        address
          strong Twitter, Inc.
          br
          |   795 Folsom Ave, Suite 600
          br
          |   San Francisco, CA 94107
          br
          |   
          abbr(title='Phone') P:
          |  (123) 456-7890
    .row
      img.img-responsive.img-rounded(src="img/contact.map.jpg", alt="Map", data-no-retina)

    // SOCIAL SHARE
    ul.list-icons
      li
        a(href='')
          em.fa.fa-twitter-square
      li
        a(href='')
          em.fa.fa-facebook-square
      li
        a(href='')
          em.fa.fa-google-plus-square
      li
        a(href='')
          em.fa.fa-instagram
      li
        a(href='')
          em.fa.fa-flickr
      li
        a(href='')
          em.fa.fa-pinterest-square