// START CONFIGURATION
section#details.config-page
  .full-screen-conf
    // START STICKY NAVBAR
    .navbar.navbar-default.navbar-fixed-top.navbar-fixed
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='https://www.demisto.com')
            img(src='img/logo.png', alt='')
        // MENU
      #navbar-main.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right.main-navbar
          li
            a(href='/#') Home
          li
            a(href='/faq') FAQ
          li.dropdown.dropdown-list
            a(href="#", data-toggle="dropdown", aria-expanded="true")
              span.navbar-name#realname
            ul.dropdown-menu.dropdown-menu-right
              li
                #userrealname
                #useremail
                #teamname
              li.divider
              li
                button.btn.btn-link(onclick='logout()', name='logout', type='button') LOGOUT

    // END STICKY NAVBAR


    .container
      .row
        .col-lg-10.col-lg-offset-1
          // INTRO MESSAGE
          .config-section#detailsdiv


// END CONFIGURATION
