// START CONFIGURATION
section#details.details-page
  .full-screen-conf
    // START STICKY NAVBAR
    .navbar.navbar-default.navbar-fixed-top.navbar-fixed
      .container
        .navbar-header
          a.navbar-brand(href='#')
            img(src='img/logo.png', alt='')
        button.pull-right.btn.btn-link(onclick='logout()', name='logout', type='button') logout
    // END STICKY NAVBAR


    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          // INTRO MESSAGE
          .config-section
            #url
              h1 Details for
                span#forurl
              h2
                span#urlresult
              h2#catsection Category:
                span#cat
              h2#detectedEnginesSections Detected Engines:
                span#detectedEngines
              h2 Resolution
                h3#asection A Records
                  span#arecords
                h3#ipv6section IPv6 Records
                  span#ipv6rec
                h3#txtsection TXT Records
                  span#txtrec
                h3#mxsection MX Records
                  span#mxrec
            #ip
              h1 Details for
                span#forip
              h2
                span#ipresult
              h2#subnetsection Subnet:
                span#subnetdata
              h2#geosection Geographical Information:
                span#geodata
              #detected_urls_section
                h2 Resolved and Malicious Urls:
                | These URLS pointed to this IP in past and have been detected to malicious in past.
                table.table
                  thead
                    tr
                      th URL
                      th Engines Detected
                      th Scan Date
                  tbody#detected_urls_table

              h2#ressection Resolution History:
              table.table
                thead
                  tr
                    th hostname
                    th last_resolved
                tbody#resolvetable
            #file
              h1 Details for <span id="forfile"></span>
              h2 Malware Family

// END CONFIGURATION
