// START CONFIGURATION
section#details.config-page
  .full-screen-conf
    // START STICKY NAVBAR
    .navbar.navbar-default.navbar-fixed-top.navbar-fixed
      .container
        .navbar-header
          a.navbar-brand(href='#')
            img(src='img/logo.png', alt='')
        button.pull-right.btn.btn-link(onclick='logout()', name='logout', type='button') logout
    // END STICKY NAVBAR


    .container
      .row
        .col-lg-10.col-lg-offset-1
          // INTRO MESSAGE
          .config-section#loadingmessage
            .ball-grid-pulse
            | DBot is collecting security details for your query... it will not be long!
          .config-section#detailsdiv
          .config-section#errordiv
            h2 DBot encountered an error while trying to serve your request. The issues has been reported and will be analyze.
            h3.center Please try to click the link again from Slack interface.


// END CONFIGURATION
