// START DOWNLOAD
section#download.download
  .container
    h2.wow.fadeInDown.animated(data-wow-offset='15', data-wow-duration='1.2s') Get this app now on
    .wow.fadeInUp.animated(data-wow-offset='15', data-wow-duration='1.2s')
      a.btn.btn-lg.btn-theme(href='https://wrapbootstrap.com/theme/angle-bootstrap-admin-app-angularjs-WB04HF123')
        em.fa.fa-apple
        | Itunes Store
      a.btn.btn-lg.btn-theme(href='https://wrapbootstrap.com/theme/angle-bootstrap-admin-app-angularjs-WB04HF123')
        em.fa.fa-android
        | Play Store

// END DOWNLOAD

