section#faq.config-page
  .full-screen-conf
    .navbar.navbar-default.navbar-fixed-top.navbar-sticky.navbar-sticky-color
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='http://www.demisto.com')
            img(src='img/logo.png', alt='')
        // MENU
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right.main-navbar
            li
              a(href='/#') Home
            li.current
              a(href='#') FAQ
            li
              a(href='/#users') Users
            li
              a(href='/#shots') Shots
            li
              a(href='/#features') Features

        // END STICKY NAVBAR

    .container
      br
      br
      
      
      // Loop through the questions and answers
      mixin faqloop(faqarr)
        each val, index in faqarr
          - var qObj = val
          - var qnum = 'q' + index
          - var anum = 'a' + index
          .panel.panel-default
            div.panel-heading(id= qnum, role="tab")
              h4.panel-title
                a.collapsed(role="button", data-toggle="collapse", data-parent="#accordion", href="\##{anum}", aria-expanded="false", aria-controls="{anum}")
                  | !{qObj.q}
            if (index==0)
              div.panel-collapse.collapse.in(id= anum, role="tabpanel", aria-labelledby="{qnum}")
                .panel-body
                  | !{qObj.a}
            else
              div.panel-collapse.collapse(id= anum, role="tabpanel", aria-labelledby="{qnum}")
                .panel-body
                  | !{qObj.a}
      
      
      h2 Frequently Asked Questions
      #accordion.panel-group(role="tablist", aria-multiselectable="true")
        +faqloop([
          {
            q: "Who created D<small>BOT</small>?", 
            a: "D<small>BOT</small> is brought to you by <a href='http://www.demisto.com'> <img class='logosmall', src='img/logo.png', alt=''></img></a> We are a U.S.-based security software company led by security veterans who are committed to make the world a safer place. To learn more about us visit our website: www.demisto.com"
          },
          {
            q: "Do you use any external services when scanning the message?",
            a: "Yes. We currently use <a href='http://www-03.ibm.com/software/products/en/xforce-exchange'> IBM X-Force Exchange</a>, <a href='https://www.virustotal.com/en/about/'> VirusTotal </a>, and <a href='http://www.clamav.net/index.html'> clamAV</a>. We are grateful to the communities and companies behind these services for their support. We may add more services as well as replace the current ones in the future. Check this page for changes."
          },
          {
            q: "Who uses D<small>BOT</small>?",
            a: "Anybody who uses Slack benefits from the security scanning provided by Slack. In addition, IT security professionals and analysts benefit from D<small>BOT</small> by comfortably checking IP addresses, URLs, files, fie hashes, without leaving Slack."
          },
          {
            q: "Do I need to be admin for Slack to use D<small>BOT</small>?",
            a: "No you don't. We believe that each user should do their part to secure systems. We have designed D<small>BOT</small> so that you can secure your channels yourself."
          },
          {
            q: "Can the external services know who I am?",
            a: "No, the queries to 3rd party services are done anonymously."
          },
          {
            q: "Is D<small>BOT</small> free?",
            a: "Yes, it is. D<small>BOT</small> is a preview of the security automation capabilities that we will be building in our product. D<small>BOT</small> will remain free for all users and you can enjoy secure collaboration."
          },
          {
            q: "Is D<small>BOT</small> an open source project?",
            a: "D<small>BOT</small> is not an open source project but at Demisto, we believe in contributing back. We have started multiple open source projects that can be found on our <a href='https://github.com/demisto'>github</a> page."
          },
          {
            q: "Are you storing and tracking my conversations?",
            a: "No we’re not. We only store your e-mail address so we can be in touch with you. We also keep anonymous statistics of the number of messages that D<small>BOT</small> scanned. D<small>BOT</small> scans all messages for malware and other risks but does not store the messages anywhere."
          },
          {
            q: "What do you do with my e-mail address?",
            a: "We keep your e-mail address so that we can contact you in the future with news about Demisto and new products. We do not sell or share your information with anyone else. Check out our <a href='/privacy'> Privacy Policy</a> for more details."
          },
          {
            q: "How do I uninstall D<small>BOT</small>?",
            a: "Please <a href='mailto:dbot@demisto.com'> email</a> us and we will remove your account."
          },
          {
            q: "I have an Antivirus/Endpoint Security suite/other security product. Do I still need D<small>BOT</small>?",
            a: "You do. For several reasons: <ol><li>To the best of our knowledge at this stage no other product scans Slack messages for risks.</li><li>It is always better to identify a risk early (e.g. when it first appears in Slack) vs. late (e.g. when downloaded to your PC or phone).</li><li>Many users access Slack from several devices. A malicious content can put all devices at risk.</li></ol>"
          },
          {
            q: "How does D<small>BOT</small> determine that a URL or IP address is malicious?",
            a: "We use services that continuously check URLs and IP addresses for malicious activity. These services collect threat information from multiple sources and provide up to date information. When D<small>BOT</small> sees an IP address or URL in a message it automatically queries these services to find out whether the address is known to be bad."
          },
          {
            q: "How does D<small>BOT</small> determine that a file is malicious?",
            a: "We use services that continuously index malware as well as scan files for trojans, viruses and other malware. When D<small>BOT</small> recognizes a posting of a file in a Slack message, it checks the file and warns you if a known malware is detected."
          },
          {
            q: "What do I do if D<small>BOT</small> issues a warning about a URL/IP address/File?",
            a: "You need to exercise good judgement. It is advisable not to follow a link that is known to be malicious and not to download a malicious file to any of your devices. It is also advisable to ask the person who posted a malicious file to delete it from Slack to prevent other users from accidentally downloading it."
          },
          {
            q: "Do I need to scan all channels?",
            a: "We recommend that you scan all channels, all private groups and all direct messages as malware can appear anywhere. However, you do have the choice of selecting particular channels if you wish to limit the protection provided by D<small>BOT</small> to these channels only."
          },
          {
            q: "Where did you get the background image I see on mobile view?",
            a: "We got this image from Philip Peterson."
          }
          ]
          )
