// START FEATURE LIST
section#features.features-list
  .container
    // START SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
      // SECTION TITLE
      h2 Full of Features
      .section-description Donec mauris arcu, vestibulum ac hendrerit ut, convallis cursus libero. 
    // END SECTION HEADER
    .row
      // START FEATURES LEFT
      .col-md-4.col-sm-4.features-left
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-random.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Responsive Layout
            p Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-rocket.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Bootstrap UI based
            p Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-crosshairs.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Cross Platform
            p Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magn.
      // END FEATURES LEFT
      
      // START MOBILE MOCKUP
      .col-md-4.col-sm-4
        .mockup-mobile.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
          img(src='img/iphone-minimal.png', alt='', data-no-retina)
      // END MOBILE MOCKUP
      
      // START FEATURES RIGHT
      .col-md-4.col-sm-4.features-right
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-moon-o.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Lazy load Assets
            p Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-sitemap.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color UI Router States
            p Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-wrench.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Great Build Tools
            p Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
      // END FEATURES RIGHT
// END FEATURE LIST

