// START FEATURE LIST
section#features.features-list
  .container
    // START SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
      // SECTION TITLE
      h2 Full of Features
      .section-description Alfred delivers threat feed data for multiple elements including File, URL and IP address.
    // END SECTION HEADER
    .row
      // START FEATURES LEFT
      .col-md-4.col-sm-4.features-left
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-file-text.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color File Reputation
            p Query file reputation with MD5 and SHA1.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-link.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Integrated Interface
            p All integrated in Slack interface, no external interface to get security feeds.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-external-link.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color URL & IP Reputation
            p Get URL & IP reputation from multiple sources.
      // END FEATURES LEFT

      // START MOBILE MOCKUP
      .col-md-4.col-sm-4
        .mockup-mobile.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
          img(src='img/iphone-minimal.png', alt='', data-no-retina)
      // END MOBILE MOCKUP

      // START FEATURES RIGHT
      .col-md-4.col-sm-4.features-right
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-edit.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Customized Subscriptions
            p Choose the channels, private groups and IM conversations for monitoring and enrich with security data.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-rocket.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Get, Set and Go
            p Nothing to Install, Nothing to Pay and One-click Activation.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-group.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Get help from Community
            p Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
      // END FEATURES RIGHT
// END FEATURE LIST
