// START FEATURE LIST
section#features.features-list
  .container
    // START SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
      // SECTION TITLE
      h2 Full of Features
      .section-description DBot analyses all communications for security risks on elements including File, URL and IP address.
    // END SECTION HEADER
    .row
      // START FEATURES LEFT
      .col-md-4.col-sm-4.features-left
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x.fa-inverse
              em.fa.fa-file-text.fa-stack-1x
          // FEATURE TEXT
          .feature-details
            h4.main-color File Scanning
            p Get file reputation with MD5 or scan the entire file that is shared.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x.fa-inverse
              em.fa.fa-external-link.fa-stack-1x
          // FEATURE TEXT
          .feature-details
            h4.main-color URL & IP Scanning
            p URL & IP security analysis using multiple sources to protect users from clicking malicious links.
          // FEATURE
          .feature
            // FEATURE ICON
            .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
              span.fa-stack.fa-lg
                em.fa.fa-circle.fa-stack-2x.fa-inverse
                em.fa.fa-link.fa-stack-1x
            // FEATURE TEXT
            .feature-details
              h4.main-color Integrated Interface
              p All integrated in Slack interface, no external interface to get security feeds.

      // END FEATURES LEFT

      // START MOBILE MOCKUP
      .col-md-4.col-sm-4
        .mockup-mobile.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
          img(src='img/iphone-minimal.png', alt='', data-no-retina)
      // END MOBILE MOCKUP

      // START FEATURES RIGHT
      .col-md-4.col-sm-4.features-right
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x.fa-inverse
              em.fa.fa-edit.fa-stack-1x
          // FEATURE TEXT
          .feature-details
            h4.main-color Customized Subscriptions
            p Choose the channels, private groups and IM conversations for monitoring and enrich with security data.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x.fa-inverse
              em.fa.fa-rocket.fa-stack-1x
          // FEATURE TEXT
          .feature-details
            h4.main-color Get, Set and Go
            p Nothing to Install, Nothing to Pay and One-click Activation.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x.fa-inverse
              em.fa.fa-group.fa-stack-1x
          // FEATURE TEXT
          .feature-details
            h4.main-color Designed for Everyone
            p Detailed security data for Security Analyst and summary alerts for everyone else.
      // END FEATURES RIGHT
// END FEATURE LIST
