// START TESTIMONIAL SLIDER
section#feedbacks.feedbacks
  .container.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
    #feedback-carousel.owl-carousel.owl-theme.text-center
      // FEEDBACK
      .feedback-client
        .feedback-client-picture
          img.img-thumbnail.img-circle(src='img/clients/01.jpg', alt='', data-no-retina)
        .feedback-client-msg Etiam feugiat risus massa. Etiam nisi dui, sodales ut dignissim vitae, eleifend non nisi. Donec ipsum enim, fermentum sed viverra et, vulputate eget libero. Sed elementum venenatis ullamcorper. Phasellus faucibus placerat luctus. 
        .feedback-client-name Martin Fowler
        .feedback-client-company Artist, Ngcompany
      // FEEDBACK
      .feedback-client
        .feedback-client-picture
          img.img-thumbnail.img-circle(src='img/clients/02.jpg', alt='', data-no-retina)
        .feedback-client-msg Etiam feugiat risus massa. Etiam nisi dui, sodales ut dignissim vitae, eleifend non nisi. Donec ipsum enim, fermentum sed viverra et, vulputate eget libero. Sed elementum venenatis ullamcorper. Phasellus faucibus placerat luctus. 
        .feedback-client-name Mathew Rogers
        .feedback-client-company Designer, Ngcompany
      // FEEDBACK
      .feedback-client
        .feedback-client-picture
          img.img-thumbnail.img-circle(src='img/clients/03.jpg', alt='', data-no-retina)
        .feedback-client-msg Etiam feugiat risus massa. Etiam nisi dui, sodales ut dignissim vitae, eleifend non nisi. Donec ipsum enim, fermentum sed viverra et, vulputate eget libero. Sed elementum venenatis ullamcorper. Phasellus faucibus placerat luctus. 
        .feedback-client-name Bradley Jimenez
        .feedback-client-company Coder, Ngcompany
// END TESTIMONIAL SLIDER

