// START FOOTER
footer#footer
  .container
    .row
      .col-sm-6
        ul.footer-nav
          li: a(href='/privacy') Privacy Policy
          li: a(href='terms') Terms
      .col-sm-6
        // COPYRIGHT
        p.copyright Demisto &copy; 2015
// END FOOTER
