// START FOOTER
footer#footer
  .container
    .row
      .col-sm-6
        ul.footer-nav
          li: a.scrollto(href='#header') Home
          li: a.scrollto(href='#download') Contact
      .col-sm-6
        // COPYRIGHT
        p.copyright Demisto &copy; 2015
// END FOOTER
