// START HEADER
header#header.header
  .full-screen
    // START STICKY NAVBAR
    .navbar.navbar-default.navbar-fixed-top.navbar-sticky
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='http://www.demisto.com')
            img(src='img/logo.png', alt='')
        // MENU
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right.main-navbar
            li.current
              a(href='#header') Home
            li
              a.external(href='/faq') FAQ
            li
              a(href='#users') Users
            li
              a(href='#features') Features
            li
              a(href='#desc2') Details
            li
              a.external(href='https://medium.com/the-incident-response-wall') Blog


        // END STICKY NAVBAR
    .container
      .row.bottom-space
        .intro-section
          h2.intro "D<small>BOT</small>" - Free Slack Integrated Security Bot
          #video
          .col-md-6.hidden-xs.hidden-sm
            .intro-shot
              img.img-responsive(src="img/slackscreenshot.png", alt="Header shot", data-no-retina="")

          .col.xs.12.col-md-6
            h3
              | D<small>BOT</small> monitors Slack conversations for URL, File and IP addresses and alerts users on malicious content before harm is done.
            .text-center
              a#action.btn.btn-xlarge.btn-theme(href='/oauth')
                span
                  strong#slack-message Add to Slack
              br
              h5
                | By clicking this button you are agreeing to our #[a(href='#privacyModal', data-toggle="modal", data-target="#privacyModal") Privacy Policy ] and #[a(href='/terms') Legal Terms]
              br

          .visible-xs-block.visible-sm-block.col-xs-12
            .intro-shot
              img.img-responsive(src="img/slackscreenshot.png", alt="Header shot", data-no-retina="")
    .row
      .col-xs-12.bottom-bar
        span#bottom-bar.text-center
          h3
            | Join Other Security Analysts on Slack. #[a(href='#slackmodal', data-toggle="modal", data-target="#slackmodal") Learn more >> ]
            form#join(name="join-channel")
              div.input.inline-input
                input#emailaddress.inline-input(type="email", name="email", required="true", placeholder="Enter email")
              button#emailsubmit.input.inline-input.btn.btn-xlarge.btn-theme(type="submit")
                strong Join


    a(href='#users')
      i.fa.fa-5x.fa-angle-double-down.forward-section

div#recaptcha.modal.fade(aria-labelledby="recaptchaLabel")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
        h4(id="recaptchaLabel", class="modal-title") Please confirm you are a human
      .modal-body
        #recaptchadiv

div.modal.fade(id="privacyModal", aria-labelledby="privacyModalLabel")
  .modal-dialog
    .modal-content
      .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4(id="privacyModalLabel", class="modal-title") Privacy Policy
      .modal-body
        p We protect your basic user information like we would protect our own and track nothing else about you or your teams and that
          | is our privacy policy in nutshell. If you would like to read the legal language, you can enjoy it #[a.btn-link.warning-text(href='/privacy') here].


div.modal.fade(id="slackmodal", aria-labelledby="slackModalLabel")
  .modal-dialog
    .modal-content
      .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4(id="slackModalLabel", class="modal-title") Demisto Slack Channel
      .modal-body
        p Demisto public slack channel is designed for Security Analysts to discuss variety of security topics ranging from suspicious files, IP and URLs. 
          | This channel is a public channel so we strongly advise to not share sensitive information on the channel. This channel is also monitored by D<small>BOT</small> 
          | for helping security analysts aggregate different type of security data. 

div.modal.fade(id="contactmodal", aria-labelledby="contactModalLabel")
  .modal-dialog
    .modal-content
      .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4(id="slackModalLabel", class="modal-title") Contact us
      .modal-body.
        <script type="text/javascript"></script>
// END HEADER
