// START HEADER
header#header.header
  .full-screen
    // START STICKY NAVBAR
    .navbar.navbar-default.navbar-fixed-top.navbar-sticky
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='https://www.demisto.com')
            img(src='img/logo.png', alt='')
        // MENU
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right.main-navbar
            li
              a(href='#header') Home
            li
              a(href='/faq') FAQ
            li
              a(href='#integrations') Users
            li
              a(href='#features') Features
            li
              a(href='#contact') Contact

        // END STICKY NAVBAR
    .container
      .row.bottom-space
        .intro-section
          .col-lg-6.col-md-6
            .intro-shot
              img.img-responsive(src="img/slackscreenshot.png", alt="Header shot", data-no-retina="")

          .col-lg-6.col-md-6
            h2.intro.banner(style='color=#000000') "DBOT" - Slack integrated Security Bot
            .text-center
              a#action.btn.btn-xlarge.btn-theme(href='/oauth')
                span
                  strong#slack-message Add to Slack
              br
              br
              p By clicking this button you are agreeing to our #[a.btn-link(data-toggle="modal", data-target="#privacyModal") Privacy Policy ] and #[a.btn-link(href='/terms') Legal Terms]


div.modal.fade(id="privacyModal", aria-labelledby="privacyModalLabel")
  .modal-dialog
    .modal-content
      .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4(id="privacyModalLabel", class="modal-title") Privacy Policy
      .modal-body
        p We protect your basic user information like we would protect our own and track nothing else about you or your teams and that
          | is our privacy policy in nutshell. If you would like to read the legal language, you can enjoy it #[a.btn-link.warning-text(href='/privacy') here].


// END HEADER
