// START PIC TEXT LEFT
section#desc2.pic-text.pic-text-left
  .container
    .row
      // LEFT PIC
      .col-md-7.wow.fadeInLeft.animated(data-wow-offset='15', data-wow-duration='1.2s')
        .mockup-mobile
          img(src='img/shots/macbookpro.png', alt='', data-no-retina)
      // RIGHT TEXT
      .col-md-5
        // SECTION TITLE
        h2 Detailed Security Review
        p DBot uses multiple security threat feeds and malware analysis engines to review all the communication for security. File, IP and URL entities are
          | extracted and analyzed in real time for protecting users.
        // FEATURE LIST
        ul.featured-list
          li
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-code.fa-stack-1x.fa-inverse
            p Well organized &amp; commented code
          li
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-bullhorn.fa-stack-1x.fa-inverse
            p LESS, JADE &amp; modular Javascript
          li
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-compass.fa-stack-1x.fa-inverse
            p Multiple layout options
          li
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-paint-brush.fa-stack-1x.fa-inverse
            p Multiple color options

// END PIC TEXT LEFT
