// START APP SHOTS
section.versions
  .container
    // START SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
      // SECTION TITLE
      h2 Collaboration for SecOps
      .section-description Integration with multiple Threat Feed Sources
    // END SECTION HEADER
    .row.bottom-space
      .col-md-4.col-md-offset-2.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="https://brandfolder.com/slack/assets/wcneqwsf", alt="Slack CMYK", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        h4 Slack
        p: small Alfred pulls in the threat information from Virustotal about latest malware, malicious IP and URL. Security Analysts get the information without even asking.

      .col-md-4.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/hipchat.png", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        br
        br
        p: small Alfred delivers the threat feed reputation for IP, URL and Files within the Hipchat interface
    .text-center
      p
        img.wow.zoomIn.animated(src="img/versions/sass.png", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        | All without leaving Slack interface ever!
