// START CONFIGURATION
section#next.config-page
  .full-screen-conf
    include _navbar
    .container
      .row
        .col-lg-10.col-lg-offset-1
          // INTRO MESSAGE
          .config-section
            center
              h2
                p You are all set! D<small>BOT</small> is now active and protecting you.
              img.next-section-img.img-responsive(src='img/slackscreenshot.png')
              #channellist
              .ball-grid-pulse.center-block
                div
                div
                div
                div
                div
                div
                div
                div
                div
              h2
                p#closelink You can close the browser and get back to work.
