// START PIC TEXT LEFT
section#desc2.pic-text.pic-text-left
  .container
    .row
      // LEFT PIC
      .col-md-6.wow.fadeInLeft.animated(data-wow-offset='15', data-wow-duration='1.2s')
        .mockup-mobile
          img(src='img/ipad-air.png', alt='', data-no-retina)
      // RIGHT TEXT
      .col-md-6
        // SECTION TITLE
        h2 Mobile first approach
        p Nulla feugiat tempor lorem, in vehicula tortor consequat sed. Ut consectetur ullamcorper purus a rutrum. Mauris ut est lorem. Cras pellentesque, est ac faucibus tincidunt, nunc urna vestibulum nulla, in luctus ligula purus in eros. 
        // FEATURE LIST
        ul.featured-list
          li
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-code.fa-stack-1x.fa-inverse
            p Well organized &amp; commented code
          li
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-bullhorn.fa-stack-1x.fa-inverse
            p LESS, JADE &amp; modular Javascript
          li
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-compass.fa-stack-1x.fa-inverse
            p Multiple layout options
          li
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-paint-brush.fa-stack-1x.fa-inverse
            p Multiple color options

// END PIC TEXT LEFT

