// START PLAN TABLE
section#plans.plan-table
  .container
    // SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
      h2 Available Options
      .section-description Pay once, get lifetime free updates.
    // END SECTION HEADER
    .row
      // PLAN
      .col-md-4.col-sm-4.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
        .plan
          h3.plan-header Single 
          .plan-price
            h2
              sup: small $
              | 18 
              span.plan-period /mo
          ul.plan-features
            li
              em.fa.fa-check
              | Unlimited Styles
            li
              em.fa.fa-check
              | RTL &amp; Translation
            li
              em.fa.fa-check
              | Customer support
            li
              em.fa.fa-check
              | Free Updates
            li
              em.fa.fa-check
              | Limited to one client
            li
              em.fa.fa-times.plan-feature-disable
              | Multiple installation
            li
              em.fa.fa-times.plan-feature-disable
              | Not ready for resale
          hr
          .text-center
            button.btn.btn-theme(type="button") Choose
      // PLAN
      .col-md-4.col-sm-4.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
        .plan
          h3.plan-header Multiple 
          .plan-price
            h2
              sup: small $
              | 50 
              span.plan-period /mo
          ul.plan-features
            li
              em.fa.fa-check
              | Unlimited Styles
            li
              em.fa.fa-check
              | RTL &amp; Translation
            li
              em.fa.fa-check
              | Customer support
            li
              em.fa.fa-check
              | Free Updates
            li
              em.fa.fa-check
              | Unlimited clients
            li
              em.fa.fa-check
              | Multiple installation
            li
              em.fa.fa-times.plan-feature-disable
              | Not ready for resale
          hr
          p.plan-description The perfect price for all your project solutions.
          .text-center
            button.btn.btn-theme(type="button") Choose
      // PLAN
      .col-md-4.col-sm-4.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
        .plan
          h3.plan-header Extended 
          .plan-price
            h2
              sup: small $
              | 900 
              span.plan-period /mo
          ul.plan-features
            li
              em.fa.fa-check
              | Unlimited Styles
            li
              em.fa.fa-check
              | RTL &amp; Translation
            li
              em.fa.fa-check
              | Customer support
            li
              em.fa.fa-check
              | Free Updates
            li
              em.fa.fa-check
              | Unlimited clients
            li
              em.fa.fa-check
              | Multiple installation
            li
              em.fa.fa-check
              | Ready for resale
          hr
          .text-center
            button.btn.btn-theme(type="button") Choose
// END PLAN TABLE