section#faq.config-page
  .full-screen-conf
    .navbar.navbar-default.navbar-fixed-top.navbar-sticky.navbar-sticky-color
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='https://www.demisto.com')
            img(src='img/logo.png', alt='')
        // MENU
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right.main-navbar
            li
              a(href='/#') Home
            li
              a(href='#') FAQ
            li
              a(href='/#users') Users
            li
              a(href='/#features') Features
            li
              a(href='#contact') Contact

        // END STICKY NAVBAR

    .container
      br
      br
      h2.text-center Privacy Policy
      h3.text-center Demisto Inc.
      h3 Last updated on: August 20, 2015
      p This page sets forth the privacy policy of Demisto Inc. applicable for  Demisto's website, #[a(href='www.demisto.com') www.demisto.com]
        | and/or DBOT, a free Demisto product (further described under https://dbot.demisto.com (hereinafter the “Products and Services”).
        | Demisto is committed to protecting the privacy of its Users.  We do not share, sell, rent trade or loan personal data to third parties,
        | other than as set out in this policy and our Terms and Conditions.
      br
      ol
        li
          b Our Products and Services
          p The Products and Services provide a solution for certain monitoring of communication and content (e.g. websites and documents shared)
            | ("Content") with the aim of assisting in the detection of malicious content, and if and when such is detected, alerting the relevant users.
            | The full terms and conditions of using these Products and Services are covered by our Terms and Conditions [www.demisto.com/terms].
        li
          b Types of Information Gathered From Our Users
          p To register to and/or use our Products and Services, you may need to provide certain personal details such as your first and last name,
            | your email address, and your company name.  ("Personally Identifiable Information").  You are responsible for maintaining the security
            | of any and all log-in information used by you in connection with our Products and Services (e.g. user name and password) and ensuring that
            | they are not passed on to or used by others.  You are responsible for all actions that take place under your account(s).

          p In the course of use, the Products and Services may also receive some information from and/or through applicable third party
            | platform/products (e.g. Slack), for the purposes of providing the Services and operating the Product, (e.g. monitoring of Content).
            | Such information collected from third party platforms/products (with the exception of name, email and company name, which are stored on
            | Demisto's servers), such as, by way of example, Slack chat logs, is NOT stored or collected on Demisto's servers.
        li
          b Sharing information
          p We will not share Personally Identifiable Information that you have provided to us other than as set out in our Terms of Service and in this policy.
          p We may disclose information to external service providers, for example, to those who build and run the website, such as to a web infrastructure service
            | or a distributed computer platform, and to other service providers who we may use as necessary to support the provision of our services.
            | Any such service provider is required to comply with the terms of this privacy policy and maintain any such information it receives in confidence.
          p We may also disclose aggregate, non-personal information or survey results to partners and other third parties.

          p Any information that you post to our forum or blog are available to the public.  If you use such forums, any personally identifiable
          information that you provide can be read, collected and used by others and could be used to send you unsolicited messages.  We are not
            | responsible for any information that you choose to submit in this way. We may terminate the account of a User that uses these services in a
            | way which would amount to a breach of this policy or of our Terms and Conditions.

          p Demisto reserve the right to share your Personally Identifiable Information where Demisto believes the disclosure is necessary to (1)
            | comply with the law or with a judicial proceeding, or legal processes, (2) protect property rights, (3) protect our users, including
            | from misuse or unauthorized use of our services, or (4) protect the safety or property of our employees, customers, users or other third parties.

          p We may be prohibited by law, court order or other legal process from providing notice of any such disclosure, and we may not provide such notice,
            | at our sole discretion. 

          p We may also disclose or transfer your Personally Identifiable Information (1) to our corporate affiliates and (2) to any person or other entity
            | in connection with the sale of the business or assets of Demisto.  We require those that receive your Personally Identifiable Information to
            | limit their use and disclosure of your information to the purposes for which you provided it.

          p We may collect and pass information on aggregated statistics about our customers, sales, usage patterns, and related information
            | (not including personally identifying information) to third parties.

        li
          b Security
          p Demisto is committed to ensuring the security of your information.  Our website, servers and Products and Services have security measures intended
            | to keep Users’ information protected. Users are required to protect their usernames/passwords or any other security related information. If we learn
            | that one of our systems containing personal information has been breached, we will notify Users.

        li
          b Use of Cookies and Logs
          p Demisto uses internet cookies.  A cookie is a small text file that contains no Personally Identifiable Information and that is placed in the
            | memory of your browser.  If the lifetime of the cookie extends beyond the time you spend on the website, the file is saved for future
            | reference and is referred to as a “persistent cookie”.  We use cookies to allow us to identify Users in recurring visits and track application settings.
            | Demisto logs IP addresses and referrers to enable us to analyze usage trends and learn how to improve our service to Users. We dispose of our logs
            | on a periodic basis. Most browsers are set out to accept cookies but you can reset your browser to refuse all cookies or to indicate when a cookie
            | is being sent. As is true of most web sites, we gather certain information automatically and store it in log files. This information includes
            | internet protocol (IP) addresses, browser type, Internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and
            | clickstream data. We use this information, which does not identify individual users, to analyze trends, to administer the site, to track users'
            | movements around the site and to gather demographic information about our user bases as a whole. We do not link this automatically collected data to
            | Personally Identifiable Information.

        li
          b Communications and Messages from Demisto
          p We may contact Users who enter their email addresses on our website, or who register to request information, or register for our services. Users can
            | always opt out of receiving emails or request that no more emails be sent to them.

        li
          b Links to other sites
          p Our website might contain links to third party sites.  Please note that we have no control over and do not guarantee the nature of information on
            | these sites, its quality or the site’s privacy policies.  This policy and our Terms of Service do not apply to such linked sites.  We do not endorse
            |  or recommend products or services that appear as pop-up advertisements.  Any endorsements that we do make are limited to products and services that
            | we explicitly recommend and not those that appear on our website through advertisements or otherwise.

        li
          b Children privacy
          p We do not offer our services to children under 18. We will not gather information from Users we know are under 18. Our services are not structured
            | and our website is not built to attract children under 18.  Where a user identifies him/herself as being under 18, Demisto will not collect, store
            | or use his/her personal information.  In addition, where a User is found to be under 18, we will delete his/her personal information in a secure manner. 

        li
          b Your Rights With Regard To Your Personally Identifiable Data
          p You can access and change your profile by signing into your account or by signing into affiliate services (eg. Slack). At your request, we will
              | inform you what personal data we have stored about you and for what purpose(s). Should we ever have stored false data about you, despite our
              | efforts to only store accurate and current data, we will correct it promptly upon recognition or at your request. In these cases please
              | contact: [info@demisto.com]
          p In case you want us to delete your personal data or revoke consent granted for certain processing of your personal data, please contact us in the
              | same way. You can also delete your account information by confirming this setting in your profile. If deletion of your data should not be possible
              | for technical or legal reasons, we will block the respective data instead.

        li
          b Contacting Us
          p For any question regarding privacy, or to access or remove the information we collect about you, please contact Demisto at [info@demisto.com].
            | We may take reasonable steps to identify you, to avoid providing information on an Demisto User to somebody else. Feel free to contact us for
            | any reason at [info@demisto.com].

        li
          b Updates
          p This privacy policy may be modified and updated from time to time. Please check this page periodically to check if there are updates.
