// START APP SHOTS
section#shots.appshots
  .container
    // SECTION HEADER
    .section-header
      h2 Screen Shots
      .section-description Configuration and Slack response Screenshots for DBOT. 
    // END SECTION HEADER
    .row
      #appshots.owl-carousel.owl-theme
        .shot
          a(href='img/shots/shot1.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/shot1.jpg', alt='App Shot', data-no-retina)
     
        .shot
          a(href='img/shots/shot2.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/shot2.jpg', alt='App Shot', data-no-retina)
     
        .shot
          a(href='img/shots/shot3.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/shot3.jpg', alt='App Shot', data-no-retina)
        .shot
          a(href='img/shots/shot4.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/shot4.jpg', alt='App Shot', data-no-retina)
     
        .shot
          a(href='img/shots/shot5.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/shot5.jpg', alt='App Shot', data-no-retina)
     
        .shot
          a(href='img/shots/shot1.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/shot1.jpg', alt='App Shot', data-no-retina)
       
     
// END APP SHOTS
