section#faq.config-page
  .full-screen-conf
    .navbar.navbar-default.navbar-fixed-top.navbar-sticky.navbar-sticky-color
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='http://www.demisto.com')
            img(src='img/logo.png', alt='')
        // MENU
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right.main-navbar
            li
              a(href='/#') Home
            li
              a(href='#') FAQ
            li
              a(href='/#users') Users
            li
              a(href='/#features') Features
            li
              a(href='/#desc2') Details

        // END STICKY NAVBAR

    .container
      br
      br
      h2.text-center Terms and Conditions of Service and End User License Agreement
      h3.text-center Demisto Inc.
      ol#termslist
        li
          h3 ACKNOWLEDGMENT AND ACCEPTANCE
          p 1.1. Please read these Terms and Conditions of Service and End User License Agreement ("TOS" or “Terms”) before 
            | using or accessing in any form or any of the products, application and/or services available through or in connection 
            | with Demisto's website, (www.demisto.com) and/or the Demisto products, e.g. DBOT available from https://dbot.demisto.com 
            | (hereinafter the “Products and Services”). These Terms constitute a binding agreement between you and Demisto Inc. and its
            | affiliates (“Demisto”) and by using and/or merely downloading any of the Products and Services in any form and manner you agree to abide, 
            | and that you are bound, by these Terms. We reserve the right to change these Terms at any time, and you agree (including by virtue of your 
            | continued use of our site or product) to be bound by any such changes. By using any of the Products and Services you hereby declare that 
            | you are at least 18 years old. If you are a minor, you are required to obtain a parental consent for and prior to using the Products and Services.
          p 1.2. These TOS and the use of the terms "you" or “users" are applicable to all types of users of the Products and Services, including owners
            | who initially set up the Products and Services and/or are granted ownership privileges by the initial owner(s), administrators, who manage and 
            | run a team, channel, or group and users who are invited to join an existing group and/or team that has already been created.  
          p 1.3. If you are entering into these TOS on behalf of a company or other legal entity, you represent that you have the authority to bind such 
            | entity, its affiliates and users to this TOS. In that case, the terms “you” or “your” shall also refer to such entity, and its affiliates, 
            | as applicable. If you do not have such authority, or if you do not agree with this TOS, you may not use the Products and Services.
          p 1.4. You can find the most recent version of these Terms at www.demisto.com/terms. Regardless of whether Demisto has provided you notice, 
            | your continued use of the Products and Service following Demisto's notice or posting of changed Terms will constitute your acceptance of such 
            | changes. It is your responsibility to check regularly for changes to the Terms and ensure that any contact, billing or payment information you provide 
            | to Demisto is updated and correct.
          p 1.5. #[b Term:] Demisto reserves the right to terminate your access to use the Products and Services at any time and for any reason.
          p 1.6. To avoid any doubt, our Product, DBOT, an add-on to Slack is NOT endorsed by, sponsored by, or associated with Slack Technologies, Inc. 
            | its products or services.
        li
          h3 THE DEMISTO SERVICE – GRANT OF RIGHTS; RIGHT TO MODIFICATION AND SHUT DOWN
          p 2.1. Subject to the terms and conditions hereunder, you are hereby granted  with a non-exclusive, non-transferrable, right to use the Products and 
            | Services, for your own internal use, until the earlier of: (i) termination or expiration of these Terms; (ii) shut down of the Products and Services 
            | by Demisto.
          p 2.2. Other than the rights expressly licensed hereunder to you, no other rights or interest whatsoever in any of the Products and Services and/or any 
            | component thereof, are transferred or granted. Without limiting the foregoing, you may not: (i) use the Products and Services or any part thereof, for 
            | purposes other than those explicitly set forth hereunder; (ii) reverse engineer or de-compile, modify or revise Products and Services, or any part thereof, 
            | or create derivative works thereof; (iii) sub-license, resell or re-offer the Products and Services, or any part thereof; (iv) otherwise commercially 
            | utilize the Products and Services, or any part thereof. 
          p 2.3. You acknowledge and agree that Demisto has the right, at any time and for any reason, at its sole discretion with or without notice to you: (i) to 
            | terminate and/or shut down (temporarily or permanently) any or all of the Products and Services; (ii) to redesign or modify the organization, structure, 
            | specifications, "look and feel," navigation, features and other elements of the Products and Services and/or any part thereof.
        li
          h3 USE OF THE PRODUCTS AND SERVICES
          p You agree that you will not use the Products and Services for any of the following purposes.
          p 3.1. Any unlawful, invasive, infringing, defamatory or fraudulent purpose;
          p 3.2. To send unsolicited bulk commercial email ("Spam") of any kind, regardless of the content or nature of such messages;
          p 3.3. Intentionally to send any harmful code or attachment with the Products and Services;
          p 3.4. To use the Products and Services in a way that has a detrimental effect upon Demisto, its Users or the Products and Services, as determined by Demisto at its sole discretion;
          p 3.5. To use or attempt to use the Products and Services in breach of these Terms;
          p 3.6. To transmit harassing, obscene, racist, malicious, abusive, libelous, illegal or deceptive messages or files;
          p 3.7. To commit or attempt to commit a crime or facilitate the commission of any crime or other illegal or tortious act;
          p 3.8. To interfere with the use of the Products and Services by other Users;
          p 3.9. To alter, tamper with or circumvent any aspect of the Products and Services;
          p 3.10. To test or reverse engineer any of the Products and Services in order to find limitations or vulnerabilities. 
          p You acknowledge and agree that you are responsible for your use of the Products and Services.  You are fully responsible for the control of and/or 
            | access to your account, including limiting access to user names and passwords and you agree to take all reasonable precautions to protect your user name 
            | and password and access to your account.  You agree that you will immediately notify Demisto in the event that you discover or believe that your account 
            | or user name or password has been accessed in any way.  Demisto shall not be liable to you or any third party for any failure by you to prevent 
            | unauthorized access to your account.
          p The Products and Services cannot and should not be relied to detect all malicious or other harmful or problematic files or data. Alternatively, Demisto is 
            | not responsible if the event that the Products and Services may designate some files or data as malicious or harmful, when they are not.
        li
          h3 USER RESPONSIBILITY FOR CONTENT
          p 4.1. The Products and Services cannot and should not be relied to detect all malicious or other harmful or problematic files or data, and You are 
            | responsible for all data and content you post and/or access, even if it was monitored by the Products and Services. Demisto is not responsible in 
            | any way to the monitored or other content and materials nor does such monitoring guarantees detection of all malicious or other harmful or problematic 
            | files or data.
          p 4.2. We urge you not to access or read any suspicious files and/or information even if those were monitored using a Demisto product.
          p 4.3. You understand that all information (such as data files, written text, computer software, code, music, audio files or other sounds, 
            | photographs, videos or other images, etc.) which you may be monitoring using the Product and Services are the sole responsibility of the person from 
            | which such content originated. All such information is referred to below as the “Content”.
          p 4.4. You understand that although you are using the Product and Services you may be exposed to Content that you may find harmful, unlawful, offensive, 
            | indecent or objectionable and that you use the Product and Services at your own risk.
          p 4.5. You agree that you are solely responsible for (and that Demisto has no responsibility to you or to any third party for) any Content that you access, use, transmit or display while using the Product and Services and for the consequences of your actions (including any loss or damage which Demisto may suffer) by doing so.
          p 4.6. You agree that you will not engage in any activity that interferes with or disrupts the Products and Services or the servers and networks which are connected to the Products and Services. 
        li
          h3 ACCURACY AND RETENTION OF INFORMATION; COMPLIANCE WITH LAWS
          p 5.1. You agree that any registration information you give to Demisto will always be accurate, correct and up to date.
          p 5.2. You agree to use the Product and Services only for purposes that are permitted by (a) the Terms and (b) any applicable law, regulation in the relevant jurisdictions.
          p 5.3. You acknowledge and agree that in connection with the provisions of the Products and Services Demisto may gain access to certain information and data with respect to your name, email address and the messages accessed (including with other users) through the affiliate integrated products (e.g. Slack). 
          p 5.4. Demisto’s privacy policy is set out in the attached policy www.demisto.com/privacy.  You acknowledge and agree that you have read and understood the policy and agree to be bound by its terms.
        li
          h3 RIGHT TO SHUT DOWN, DENY OR LIMIT ACCESS
          p 6.1. Demisto reserves the right to limit or revoke your access to any of the Products and Services, in its sole discretion, at any time, and for any reason, including, but not limited to technical difficulties or violation of these Terms.
          p 6.2. Demisto is constantly innovating in order to provide the best possible experience for its users. You acknowledge and agree that the form and nature of the Product and Services which Demisto provides may change from time to time without prior notice to you.
          p 6.3. As part of this continuing innovation, you acknowledge and agree that Demisto may stop (permanently or temporarily) providing the Product and Services (or any features within the Product and Services) to you or to users generally at Demisto’s sole discretion, without prior notice to you. You may stop using the Product and Services at any time. You do not need to specifically inform Demisto when you stop using the Product and Services.
          p 6.4. You acknowledge and agree that if Demisto disables access to your account, you may be prevented from accessing the Product and Services and your account details or other content which is contained in your account.
        li
          h3 COMMUNICATIONS
          p Notices to you will be addressed via contact information provided by you during the account registration process unless you have notified Demisto of any changes.
        li
          h3 INDEMNITY
          p You agree to defend, indemnify and hold Demisto and anyone on its behalf, including but not limited to, all of its owners, managers, officers and employees, harmless against any losses, expenses, costs, claims, damages (including reasonable attorneys’ fees, expert fees’ and other reasonable costs of litigation) arising from, incurred as a result of, or in any manner related to your breach of the terms of these Terms.
        li 
          h3 DISCLAIMER OF WARRANTIES AND LIABILITIES
          p THE SERVICE AND THE PRODUCT ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING 
            | BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. NEITHER THE TERMS, DEMISTO’S ORDER FORM, NOR 
            | ANY DOCUMENTATION FURNISHED UNDER THEM ARE INTENDED TO EXPRESS OR IMPLY ANY WARRANTY THAT THE SERVICE WILL BE UNINTERRUPTED, TIMELY, OR ERROR-FREE. 
            | YOU ACKNOWLEDGE THAT THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE PRODUCTS AND SERVICES IS WITH YOU. SHOULD THE PRODUCTS AND SERVICES PROVE INADEQUATE IN ANY WAY, YOU AND NOT DEMISTO ASSUME THE ENTIRE COST OF ANY COSTS OR DAMAGES INCURRED BY YOU.
            | DEMISTO DOES NOT WARRANT THAT YOU WILL HAVE UNINTERRUPTED OR ERROR FREE USE OF THE PRODUCTS AND SERVICES, THAT ANY DATA SENT BY OR TO YOU WILL BE TRANSMITTED IN SECURE OR UNCORRUPTED FORM OR WITHIN A REASONABLE OR DEFINED PERIOD OF TIME, OR THAT THE PRODUCTS AND SERVICES WILL PREVENT FROM OCCURRING THAT WHICH THEY ARE DESIGNED TO PREVENT.
            | YOU ACKNOWLEDGE THAT ANY DATA OR INFORMATION DOWNLOADED OR OTHERWISE OBTAINED, RECEIVED OR SUBMITTED THROUGH THE PRODUCTS AND SERVICES ARE AT YOUR SOLE RISK AND THAT DEMISTO WILL NOT BE LIABLE OR RESPONSIBLE FOR ANY HARM OR DAMAGE TO YOU OR YOUR PROPERTY (INCLUDING ANY DATA, PERSONAL COMPUTER EQUIPMENT OR STORAGE MEDIA).
            | DEMISTO IS NOT RESPONSIBLE FOR THE CONTENT OF DATA, INFORMATION OR ATTACHMENTS WHICH ARE MONITORED THROUGH DEMISTO’S PRODUCTS AND SERVICES.
        li
          h3 EXPORT CONTROL COMPLIANCE WITH LAWS 
          p Export Restrictions. The Products and Services delivered to You under this Agreement are subject to U.S. export control laws and regulations and may also be 
            | subject to import and export laws of the jurisdiction in which it was obtained, if outside the U.S. You shall abide by all applicable export control laws, rules and regulations applicable to the Products and Services. Without derogating from the generality of the foregoing, You agree that You will not export, re-export, or transfer the Products and Services, in whole or in part, to any country, person, or entity subject to U.S. export restrictions. To avoid any doubt, the use of the Products and Services, in whole or in part, in any country, subject to U.S. or any other applicable jurisdiction export restrictions is not allowed.  You specifically agree not to export, re-export, or transfer the Products and Services (i) to any country to which the U.S. has embargoed or restricted the export of goods or services, or to any national of any such country, wherever located, who intends to transmit or transport the products back to such country; (ii) to any person or entity who You know or have reason to know will utilize the Products and Services or portion thereof in the design, development, production or use of nuclear, chemical or biological materials, facilities, or weapons; or (iii) to any person or entity who has been prohibited from participating in U.S. export transactions by any federal agency of the U.S. government. You agree that You shall use the Products and Services solely in a manner that complies with all applicable laws in the jurisdictions in which You use the Products and Services, including, but not limited to, applicable restrictions concerning copyright and other intellectual property rights.
        li
          h3 LIMITATION OF LIABILITY
          p UNDER NO CIRCUMSTANCES WHATSOEVER WILL DEMISTO, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, BE RESPONSIBLE OR LIABLE TO YOU OR TO ANY OTHER ENTITY FOR ANY DIRECT, COMPENSATORY, INDIRECT, INCIDENTAL, CONSEQUENTIAL (INCLUDING LOST PROFITS AND LOST BUSINESS OPPORTUNITIES), SPECIAL, EXEMPLARY, OR PUNITIVE DAMAGES THAT RESULT FROM OR RELATE IN ANY MANNER WHATSOEVER TO YOUR USE OF THE PRODUCTS AND SERVICES, OR RELIANCE ON ANY OF THE PRODUCTS AND SERVICES OR TO ANY ERRORS, INACCURACIES, OMISSIONS, DEFECTS, SECURITY BREACHES, OR ANY OTHER FAILURE TO PERFORM BY DEMISTO. WITHOUT DEROGATING FROM THE GENERALITY OF THE FOREGOING, DEMISTO SHALL HAVE NO LIABILITY WHATSOEVER TO YOU OR ANY OTHER PARTY FOR THE ACCURACY, SECURITY, TIMELINESS, COMPLETENESS OR CONTINUED AVAILABILITY OF THE PRODUCTS AND SERVICES OR ANY PART THEREOF, INCLUDING USE FOR URGENT, CRITICAL OR EMERGENCY COMMUNICATIONS OR IMPROPER OR UNAUTHORIZED ACCESS TO OR INTERCEPTION OF ANY COMMUNICATION OR PRIVATE INFORMATION.
            | THE FOREGOING DISCLAIMER SHALL APPLY IN CIRCUMSTANCES INCLUDING, BUT NOT LIMITED TO, YOUR INABILITY TO USE ANY OR ALL OF THE PRODUCTS AND SERVICES. YOU AGREE THAT YOU ARE SOLELY RESPONSIBLE FOR ADEQUATE PROTECTION AND BACKUP OF THE DATA AND EQUIPMENT USED IN CONNECTION WITH ANY OF THE PRODUCTS AND SERVICES.
            | THE LIMITATIONS IN THIS SECTION ARE COMPREHENSIVE AND THE EXAMPLES GIVEN ARE NOT EXHAUSTIVE.  THE LIMITATIONS IN THIS SECTION ARE SEPARATE AND INDEPENDENT OF ANY OTHER LIMITATIONS IN THIS AGREEMENT AND SHALL NOT FAIL IF SUCH OTHER LIMITATION OR REMEDY FAILS. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU.
        li
          h3 OWNERSHIP
          p You acknowledge and agree Demisto is the exclusive owner of the Demisto Products and the Service, including, without limitation, any and all intellectual property or proprietary rights therein.
        li
          h3 NOTICES
          p Any notices or communications under these Terms to you will be addressed to the electronic address specified in the your Demisto Order Form, as you may update such information from time to time, and will be deemed delivered immediately upon sending in the case of electronic mail and three days after mailing in the case of standard written mail. Notices to Demisto shall be addressed to Demisto Inc. 1340 S Deanza Blvd, Ste 208, San Jose, CA 95129, or to such other address as Demisto may provide to you.
        li
          h3 ASSIGNMENT
          p Demisto may assign these Terms without your notice or consent.  You, however, may not assign these Terms or any rights hereunder.
        li
          h3 GENERAL
          p The Terms and the relationship between you and Demisto are governed by the laws of the State of Delaware without regard to its conflict of law provisions. Any dispute or claim arising out of or in connection with the Terms will be submitted to the exclusive jurisdiction of the competent courts in State of Delaware. Demisto's failure to exercise or enforce any right or provision of the Terms will not constitute a waiver of such right or provision. If any provision of the Terms is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and agree that the other provisions of the Terms remain in full force and effect. Neither party to the Terms will be liable to the other for any delay or failure in performance under the Terms resulting directly or indirectly from acts of nature or causes beyond its reasonable control. The Terms constitutes the entire agreement between the parties with respect to the Service and supersede all previous proposals, both oral and written, representations, writings, and all other communications between the parties. 
