// START PIC TEXT RIGHT
section#desc1.pic-text.pic-text-right
  .container
    .row
      // LEFT TEXT
      .col-md-6
        // SECTION TITLE
        h2 Translation ready and RTL support
        p Suspendisse luctus, nisl a venenatis sagittis, ante odio pellentesque erat, ac bibendum felis est quis odio. Pellentesque odio purus, egestas ac luctus gravida, rutrum ut quam. Cras tristique metus nec diam ornare vitae placerat sapien pellentesque. 
        p Praesent nec metus eu urna tempor varius id quis mauris. Mauris porttitor tincidunt odio, id facilisis tortor auctor et. In urna nisl, convallis et malesuada quis, scelerisque at est. 
        p Vivamus et urna magna. Suspendisse tincidunt orci nec arcu semper imperdiet volutpat elit faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
          br
          br
        p: em Laoreet vitae pretium eget, lobortis sit amet ante. 
      // RIGHT PIC
      .col-md-6.wow.fadeInRight.animated(data-wow-offset='15', data-wow-duration='1.2s')
        .mockup-mobile
          img(src='img/iphone-angle.png', alt='', data-no-retina)
      // /END PHONES IMAGE
// END PIC TEXT RIGHT
