script.
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);
  js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

// START APP SHOTS
section#integrations.integrations
  .container
    // START SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
      // SECTION TITLE
      h1 Designed for You
      .section-description DBOT was designed for Securing Slack Content for anybody using Slack
        | and enabling easy access to advanced security information for security professionals using Slack.
    // END SECTION HEADER
    .row.bottom-space
      .col-md-4.text-center
        .twitterfeed
          a.twitter-timeline(href="https://twitter.com/demistoinc", data-widget-id="634337149043740673") Latest Tweets
      .col-md-8
        .usersectionheading
          img.img-responsive.version-pic(src="img/slack_rgb.png", alt="Slack CMYK")
          h2 Secure Content
        .usersectioncontent
          img.img-responsive.version-pic.pull-left(src="img/persona.png")
          p:| DBOT protects Slack users by monitoring communications in the background and
            | warning them about malicious and harmful content in real time. DBOT warnings are non-intrusive and are delivered within the Slack interface.
        br
        br
        .usersectionheading
          h2 Security Analyst Collaboration
        .usersectioncontent
          img.img-responsive.version-pic.pull-left(src="img/persona.png")
          p:| Whether you are in the middle of a forensic investigation or simply trying to understand whether you have
            | encountered a security issue, DBOT saves time and effort by delivering threat feed reputation for IP, URL
            | and Files from multiple sources right within Slack. Simply upload a suspicious file into one of your Slack
            | channels, type a URL or IP address or even copy an MD5 hash into Slack and threat information will be readily
            | available to you in a matter of seconds. Oh yes, and you can also share this information with your colleagues in Slack while you’re at it!
