// START APP SHOTS
section.versions
  .container
    // START SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
      // SECTION TITLE
      h2 Multiple Versions
      .section-description Optional source files with LESS + JADE ready to build with Gulp
    // END SECTION HEADER  
    .row.bottom-space
      .col-md-4.col-md-offset-2.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/angularjs.png", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        h4 AngularJS + Seed 
        p: small AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.

      .col-md-4.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/html5.png", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        h4 Static HTML5 + Seed 
        p: small A project based on jQuery and HTML5 with all the features ready to use. This version will simplify any integration with many other popular frameworks on the web.
    .row.bottom-space
      .col-md-4.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/vs.png", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        h4 Visual Studio MVC5 + Seed 
        p: small MVC5 for Visual Studio 2013. Modular JavaScript and all assets bundle ready to use. Also featuring an Entity demo using the theme components.

      .col-md-4.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/ror.png", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        h4 Ruby on Rails + Seed 
        p: small  Modular JavaScript and SASS stylesheets. Developed to serve assets per controller, avoid bloating your views with unnecessary requests. Heroku ready!.

      .col-md-4.text-center
        img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/meanjs.png", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        h4 MeanJS Seed
        p: small A full-stack JavaScript solution that helps you build fast, robust and maintainable production web apps. It includes LESS, modular JavaScript and Swig templates.
    .text-center
      p
        img.wow.zoomIn.animated(src="img/versions/sass.png", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
        | Main projects also includes Sass version !
