# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
tmp

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
alfred
alfred.db

*.sw*
*~

node_modules/
vendor/
bower_components/
static/site/js/
static/site/css/
static/site/*.html
.DS_Store

# Web static embedded files
static.go

# Sensitive files
Makefile
etc/*.conf
etc/*rsa*
etc/*.pem
etc/*.yaml
etc/*mysql*

_analytics.jade
_ze.jade
.idea

# Logs
*.log

tags
