# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
tmp

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
alfred
alfred.db
tools/pscleaner/pscleaner

*.sw*
*~

node_modules/
bower_components/
static/site/js/
static/site/css/
static/site/vendor/
static/site/*.html
.DS_Store

# Web static embedded files
static.go

# Sensitive files
Makefile
etc/*.conf
etc/*rsa*
etc/*.pem
etc/*.yaml
etc/*mysql*
etc/backup_script.sh
etc/dbot_backup*
etc/command-dbot-prod.sh
etc/copy-*
etc/dbot-init-prod.script
af_test.go

_analytics.jade
_gtmid.json
_ze.jade
.idea

# Logs
*.log

tags

# Client

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/client/node_modules
/client/.pnp
.pnp.js
package-lock.json

# testing
/client/coverage

# production
/client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

