.logosmall {
  width:90px;
}


// FAQ styles
.panel-body a {
  color: @brand-callto-action;
}

video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(img/bg-demisto.png) no-repeat;
background-size: cover;
}
