/* ========================================================================
   Component: Integrations
 ========================================================================== */

.integrations {
  padding-top: 80px;
  padding-bottom: 30px;
  background: #f2f2f2;
  color: #000000;
}

.version-pic {
  margin: 0 auto;
  max-height: 90px;
}

.bottom-space {
  margin-bottom: 80px;
}

.twitterfeed {
  width: auto;
}

.usersectionheading {
  display: flex;
  padding-left: 20px;
  color: @brand-primary;
  margin-bottom: 20px;
}

.usersectionheading h2 {
  margin: auto;
  margin-left: 0px;
}

.usersectionheading img {
  margin-right: 0px;
  margin-left: 00px;
}

.usersectioncontent {
}

.usersectioncontent img {
  padding-right: 50px;
  padding-left: 20px;
}
