/* ========================================================================
   Component: Sections Header
 ========================================================================== */
 

.section-header {
  padding-bottom: 78px;
  text-align: center;
  
  h2 {
    margin-bottom: 20px;
  }

  .section-description {
    display: inline-block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}

