/* ========================================================================
   Component: Settings
 ========================================================================== */
    .config-page {
      overflow: hidden;
      /* Background image fallback */
      text-align: left;
      background: #136c70;
      .background-size(cover);

      @media @tablet {
    //    background: none;
      }

      @media @ipad {
        background: #588C7E;
        .background-size(cover);
      }

      .config-section {
        margin: 0 auto;

        @media @mobile {
          padding-top: 5%;
        }
        @media @tablet {
          padding-top: 9%;
        }
        @media @ipad-landscape {
          padding-top: 20px;
        }
      }

      .config-entry {
        margin: 0 auto;

        @media @mobile {
          padding-top: 5%;
        }
        @media @tablet {
          padding-top: 20px;
        }
        @media @ipad-landscape {
          padding-top: 15px;
        }
      }

      .full-screen-conf {
        width: 100%;
        min-height: 90vh;
      }

    }


    .background-size(@type) {
      -webkit-background-size: @type;
              background-size: @type;
    }

.channels {
  width: 90%;
}

.chosen-choices {
  border-radius: 4px;
}

.chosen-container {
  text-align: left;
}

.configform {
  text-align: left;
}

.logo-banner {
  background-color: #e4d9cc;
  width: 100%;
}
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
.panel-body {
  color: black;
}

.panel {
  background-color: #e4d9cc;
}

.grayout {
    opacity: 0.6; /* Real browsers */
}

/* ========================================================================
   Component: Details
 ========================================================================== */
.main-section-divider {
  border-color: #fff;
  border-radius: 20px;
  padding: 15px;
}

.reporttitle {
  display: inline;
}
