/* ========================================================================
   Component: Settings
 ========================================================================== */

.channels {
  width: 90%;
}

.chosen-choices {
  border-radius: 4px;
}

.chosen-container {
  text-align: left;
}

.configform {
  text-align: left;
}

.logo-banner {
  background-color: #e4d9cc;
  width: 100%;
}
