doctype html
html(lang="en")

  head

    include _head

  body
    .full-screen-conf
      .navbar.navbar-default.navbar-fixed-top.navbar-sticky.navbar-sticky-color
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='http://www.demisto.com')
              img(src='img/logo.png', alt='')
          // MENU
          #navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right.main-navbar
              li
                a(href='/#') Home
              li.current
                a(href='#') FAQ
              li
                a(href='/#users') Users
              li
                a(href='/#shots') Shots
              li
                a(href='/#features') Features

          // END STICKY NAVBAR

    section.config-page
      .container
        .row
          .config-section
            .col-lg-12
              h1.text-center Page Not Found
              h2.text-center Move #[a(href='/') along], there is nothing to see here.
