meta(charset='UTF-8')
meta(name='description', content='DBot - Demisto bot for slack and hipchat integration')
meta(name='keywords', content='demisto,slack,hipchat,integration,security,threat intelligence')
meta(name='author', content='@demisto')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

title DBot | Demisto Security Bot

// FAVICON
link(rel='icon', href='img/favicon/favicon.ico')
link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-touch-icon-57x57-precomposed.png')
link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72-precomposed.png')
link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114-precomposed.png')
link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-touch-icon-144x144-precomposed.png')

// ICONS
link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')

// VENDOR CSS
link(rel='stylesheet', href='vendor/owl.carousel/dist/assets/owl.carousel.css')
link(rel='stylesheet', href='vendor/owl.carousel/dist/assets/owl.theme.default.css')
link(rel='stylesheet', href='vendor/animate.css/animate.css')
link(rel='stylesheet', href='vendor/chosen/chosen.min.css')
link(rel='stylesheet', href='vendor/toastr/toastr.min.css')
link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')

// SITE CSS
link(rel='stylesheet', href='css/styles.css', id="stylescss")
link(rel='stylesheet', href='css/theme-a.css')

// SCRIPT FOR ANALYTICS
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-62330605-3', 'auto');
  ga('send', 'pageview');

include _ie
+ie('if lt IE 9')
  script(src='js/html5shiv.js')
  script(src='js/respond.min.js')
