meta(charset='UTF-8')
meta(name='description', content='DBOT - Slack integrated Security Bot')
meta(name='keywords', content='demisto,slack,hipchat,integration,security,threat intelligence')
meta(name='author', content='@demistoinc')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
// Facebook og attributes
meta(property="og:title", content="DBOT - Slack integrated Security Bot")
meta(property="og:site_name", content='DBOT - Slack integrated Security Bot')
meta(property="og:url", content='https://dbot.demisto.com')
meta(property="og:description", content='Security Bot for securing your Slack content. The bot monitors all your communication and protects users by alerting about malicious content.')
meta(property="fb:app_id", content="[FB_APP_ID]")
meta(property="og:type", content="website")
meta(property="og:locale", content="en_US")

title DBOT | Demisto Security Bot

// FAVICON
link(rel='icon', href='img/favicon/demisto.png')
link(rel='apple-touch-icon', href='img/favicon/D icon 9696.png')
link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/D icon 5757.png')
link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/D icon 7272.png')
link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/D icon 114114.png')
link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/D icon 144144.png')

// ICONS
link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')

// VENDOR CSS
link(rel='stylesheet', href='vendor/animate.css/animate.css')
link(rel='stylesheet', href='vendor/chosen/chosen.min.css')
link(rel='stylesheet', href='vendor/toastr/toastr.min.css')
link(rel='stylesheet', href='vendor/loaders.css/loaders.min.css')
link(rel='stylesheet', href='vendor/owl-carousel/owl-carousel/owl.carousel.css')
link(rel='stylesheet', href='vendor/owl-carousel/owl-carousel/owl.transitions.css')
link(rel='stylesheet', href='vendor/owl-carousel/owl-carousel/owl.theme.css')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Ropa+Sans')

// SITE CSS
link(rel='stylesheet', href='css/styles.css', id="stylescss")


include _ie
+ie('if lt IE 9')
  script(src='js/html5shiv.js')
  script(src='js/respond.min.js')
