// VENDOR SCRIPTS
script(src="vendor/jquery/dist/jquery.min.js")
script(src="vendor/jquery.easing/js/jquery.easing.js")
script(src="vendor/bootstrap/dist/js/bootstrap.js")
script(src="vendor/smoothscroll/smoothscroll.js")
script(src="vendor/owl.carousel/dist/owl.carousel.js")
script(src="vendor/Nivo-Lightbox/nivo-lightbox.js")
script(src="vendor/html5shiv/dist/html5shiv.js")
script(src="vendor/respond/src/respond.js")
script(src="vendor/retina.js/dist/retina.js")
script(src="vendor/jquery.scrollTo/jquery.scrollTo.js")
script(src="vendor/wow/dist/wow.js")
script(src="vendor/matchMedia/matchMedia.js")
script(src="vendor/background-video/jquery.backgroundvideo.js")
script(src="vendor/jQuery-One-Page-Nav/jquery.nav.js")
script(src='vendor/jQuery-Storage-API/jquery.storageapi.js')
script(src='vendor/chosen/chosen.jquery.min.js')
script(src='vendor/js-cookie/src/js.cookie.js')
script(src="http://assets.freshdesk.com/widget/freshwidget.js")


// SITE SCRIPTS
script(src="js/scripts.js")
