// script(src="http://assets.freshdesk.com/widget/freshwidget.js")
script(src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js")
script(src='https://www.google.com/recaptcha/api.js?render=explicit', async='true', defer='true')
// SITE SCRIPTS
script(src="js/vendor.js")
script(src="js/scripts.js")
