doctype html
html(lang="en")
  head
    include _head
  body
    h1 Based on your IP, it looks like you are coming from a country we do not support.
    br
    | If you believe we are mistaken, please contact our <a href="mailto:support@demisto.com">support</a>
