doctype html
html(lang="en")

  head

    include _head

  body

    include sections/header
    include sections/users
    include sections/shots
    include sections/features
    include sections/index-details
    include sections/footer
    include sections/social


    include _scripts
