doctype html
html(lang="en")

  head

    include _head
    link(href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css')
  body

    include sections/preloader
    include sections/header
    include sections/integrations
    include sections/features
    include sections/shots
    include sections/contact
    include sections/footer

    include _scripts
