doctype html
html(lang="en")

  head

    include _head
    link(href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css')

  body

    include sections/header
    include sections/users
    include sections/features
    include sections/index-details
    include sections/footer
    include sections/social

    include _scripts
